.container{

    padding: 3%;
    background-image: url('../../assets/homeBgif.gif');
    background-size: cover;
    width: 100%;
       
}

/* .block2{
    
    padding: 3%;
    background-image: url('../../assets/portfolioBg.webp');
    background-attachment: fixed;
} */